$body-color: #f9f9f9;
$body-font: "Alexandria";
$primary-color: #2285fc;
$button-textColor: #ffff;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: $body-color;
  font-family: $body-font;
}
#Wallet {
  .title {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 93px;
    height: 36px;
    top: 119px;
    left: 923px;
    margin: 4% 0;
  }
  h1 {
    position: absolute;
    right: 140%;
    bottom: 300%;
    font-family: Almarai;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.011em;
  }

  h2 {
    font-family: Alexandria;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: right;
    padding: 10px 10px;
  }
  h5 {
    font-family: Alexandria;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.011em;
    color: #1a202c;
  }
  p {
    font-family: Alexandria;
    font-size: 32px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
  }

  span {
    font-family: Alexandria;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: right;
  }
  .container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  #section {
    margin-top: 1%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border: 1px solid #e0e0e0;
    opacity: 0px;
  }

  .card1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 895px;
    top: 345px;
    left: 118px;
    height: 157px;
  }
  .card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 895px;
    height: 348px;
    top: 363px;
    left: 121px;
    gap: 0px;
    opacity: 0px;
  }
  .flexColumn {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 5%;
    width: 100%;
    padding: 0 5px;
  }
  .innerCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #d8dde7;
    width: 315px;
    height: 123px;
    top: 408px;
    left: 492px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
  }

  button {
    display: block;
    text-wrap: nowrap;
    background-color: $primary-color;
    color: #ffff;
    font-size: 20px;
    width: Fixed (164px) px;
    height: Fixed (56px) px;
    top: 585px;
    left: 155px;
    padding: 2% 5%;
    border-radius: 5px;
    font-family: Alexandria;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    border: none;
    cursor: pointer;
  }
  input {
    width: 600px;
    height: 56px;
    top: 585px;
    left: 332px;
    gap: 0px;
    border-radius: 9px;
    opacity: 0px;
    padding: 0 10%;
    border: 2px solid #cbd2e0;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
  input::placeholder {
    width: 399px;
    height: 26px;
    gap: 0px;
    opacity: 0px;
    font-family: Alexandria;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #1a202c;
  }

  label {
    font-family: Alexandria;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: right;
    color: #858585;
  }

  .card3 {
    width: 895px;
    height: 349px;
    top: 728px;
    left: 121px;
    gap: 0px;
    opacity: 0px;
    color: $primary-color;
    margin-bottom: 10%;
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    width: 100%;
    padding: 0 2%;
  }

  .row {
    display: flex;
    flex-direction: row;
    margin: 3px 0;
    border: 2px solid #cbd2e04f;
    border-radius: 9px;
    width: 100%;
  }

  .cell {
    padding: 16px 10px;
    width: 100%;
    text-align: left;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    width: Hug (268px) px;
    height: Hug (32px) px;
    top: 1032px;
    left: 421px;
    gap: 8px;
    opacity: 0px;
  }
  .page-item {
    margin: 0 5px;
    width: Hug (188px) px;
    height: Hug (32px) px;
    gap: 4px;
    opacity: 0px;
    padding: 10px 0px 0px 0px;
    color: #262626;
  }
  .page-link {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    width: Fixed (32px) px;
    height: Fixed (32px) px;
    font-family: Alexandria;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    color: #262626;
  }
  .page-link:hover {
    background-color: $primary-color;
    color: white;
    transition: background-color 0.5s, color 0.5s;
    font-weight: bold;
    border-radius: 50%;
  }

  .page-link.active {
    background: #262626;
    color: white;
    font-weight: bold;
    gap: 10px;
    border-radius: 50%;
  }

  .page-link.disabled {
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
  }

  // Adjust for smaller screen sizes (tablet)
  @media (max-width: 1200px) {
    padding: 0 20px;
    h1 {
      font-size: 4vw; // 4% of viewport width for medium screens
    }

    h2 {
      font-size: 3.5vw;
    }

    p,
    h5 {
      font-size: 2vw;
    }

    span {
      font-size: 1.2vw;
    }
  }

  @media (max-width: 768px) {
    padding: 0 10px;
    h1 {
      font-size: 6vw;
    }

    h2 {
      font-size: 5vw;
    }

    p,
    h5 {
      font-size: 4vw;
    }

    span {
      font-size: 2vw;
    }
  }

  @media (max-width: 480px) {
    padding: 0 5px;
    h1 {
      font-size: 8vw;
    }

    h2 {
      font-size: 7vw;
    }

    p,
    h5 {
      font-size: 6vw;
    }

    span {
      font-size: 3vw;
    }
  }
}
